:root{
    --primary-color:#4caf4c;
    --secondery-color:#fff;
    --bacground-color:#f4f4f4;
    --card-bacground-color:#fff;
    --card-shadowcolor:rgba(0,0,0,0.2);
    --padding:0.5rem;
    --margin:0.5rem
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style:none;
}

body{
    font-family: "Roboto", sans-serif;
    background:var(--bacground-color);
    color: #333;
}
h1,h2{
    color: var(--primary-color);
}
input,select,textarea{
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
}
button{
    background: var(--primary-color);
    color:var(--secondery-color);
    cursor: pointer;
    padding: 0.8rem 1.6rem;
    margin: 0.8rem 0;
    border: none;
    border-radius: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.04rem;
    font-size: .9rem;
    font-weight: 600;
}
button:hover{
    background: #45a045;
}
.card{

    background: var(--card-bacground-color);
    margin: 1.2rem;
    border-radius: 0.5rem;
    padding: 1.2rem;
    box-shadow: 0 0.2rem 0.4rem var(--card-shadowcolor);
}
header{
    background: var(--primary-color);
    text-align: center;

}
nav{

}
nav ul{

}
nav ul li{
    margin: 0 0.8rem;

}

nav ul li a{
color: var(--secondery-color);
font-weight: bold;
}
/* Main start here */
main{
    width: 80%;
    margin: auto;
    padding: 1.2rem;

}
table{
width: 100%;
border-collapse: collapse;
margin: 0.5rem 1.2rem;

}
table,th,td{

    border: 1px solid gray;
    padding: .5rem;
}
th{
    background: #f2f2f2;
}
/* Main end here */

/* footer start here */
footer{
    background: var(--primary-color);
    text-align: center;
    width: 100%;
    padding: 0.5rem 0;
    bottom: 0;

}
footer p{
    color: var(--secondery-color);
}
footer p a{
    color: var(--secondery-color);
}
.sosal-media a{
    color: var(--secondery-color);
}
.sosal-media h3{
    color: var(--secondery-color);
}

/* footer end here */

