*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style:none;
}

body{
    font-family: "Roboto", sans-serif;
    background: #eee5e5;
}
.continer{
    width: 100%;
    margin: auto;
    
}
.navbar{
    background: #3ecc12;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.navbar-brand{
    position: relative;
    border-top: 1px solid #ffffff;
    padding: 5px;
    
}
.navbar-brand a{
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 7000;
}
.navbar-brand::after{
    position: absolute;
    top: 0;
    left: -5px;
    content: ' ';
    width: 2px;
    height: 20px;
    background-color: #ffffff;
    
}

.naver-items{
    display: flex;
    align-items: center;
    justify-content: end;
}
.navbar-list{
    margin-right: 20px;
}
.navbar-link{
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 1px;
}
.intro{
    background: #dbd8d8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:40px 0;
}
.titel{
    flex: 0 0 50% ;
    max-width: 50%;
}
.titie-img{
    flex: 0 0 40% ;
    max-width: 40%;
   
}
.titel_imgs{
    border-radius: 50%;
    width: 70%;
}